
.App {
  width: min(800px, 100vh);
  margin: 2rem auto;
}

.page-title {
  font-weight: bold;
  margin: 3rem 0;
}

form {
  display: grid;
  grid-template-columns: 10ch 1fr;  
  row-gap: .5rem; 
}

button {
  grid-column: span 2;
  padding: .5rem;
}